.body {
    padding: 0;
    margin: 0;
}

/* Override bootrstrap sources */
.navbar-inverse {
    background-color: #111;
}
.navbar-right {
    margin-right: 10px;
}
/* End bootstrap sources */

.fullscreen{
    height: 100vh;
    min-width: 100%;
    display: table;
    padding-top: 70px;
}

.vctr {
    display: table-cell;
    vertical-align: middle;
}

#home {
    background: darkblue;
    background-size:cover;
    color: #CCC;
}

#about {
    background: blueviolet;
    background-size:cover;
    color: #ff0000;
}

#projects {
    background: red;
    background-size:cover;
    color: #E9DC51;
}

#gallery {
    background: green;
    color: orange;
}

#contact {
    background: orange;
    color:blueviolet
}
