.body {
    padding: 0;
    margin: 0;
}

.fullscreen{
    height: 100vh;
    min-width: 100%;
    display: table;
}

.nav-horizontal {
    background-color: rgba(0,0,0,0.7);
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 15px;
    text-align: right;
}

.nav-horizontal a {
    color: #fff;
}

.nav > li > a:hover {
    color: #AAA;
    background-color: transparent;
    text-transform: uppercase;
}

.nav > li > a:focus {
    color: #AAA;
    background-color: transparent;
    text-transform: uppercase;
}

.nav-pills {
    display: inline-block;
}


page-home {
    background: darkblue;
    background-size:cover;
}

page-about {
    background: blueviolet;
    background-size:cover;
}

page-projects {
    background: red;
    color:blue;
}

page-gallery {
    background: green;
    color: orange;
}

page-contact {
    background: orange;
    color:blueviolet
}
